<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">

	<ul class="unstyled list-unstyled">
		
	<% var i = 1; %>
		<% _.each(events, function(event) { %>
			
			  <% if( event.time_type == 'AM' ){ %>
					<% if( i == 1 ){ %>

					<li>
						<span style="color:black">AM</span>	
					</li>	
					<% } %>
					<li>
						<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
						<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
							data-event-class="<%= event['class'] %>" class="event-item" onclick="c_lick(<%= event.id %>);">
							<%= event.title %></a>
					</li>
		 
		<%	i = 0; } }) %>
		
		<% j = 1; %>
		<% _.each(events, function(event) { %>
			
			  <% if( event.time_type == 'PM' ){ %>
					<% if( j == 1 ){ %>

					<li>
						<span style="color:black">PM</span>	
					</li>	
					<% } %>
					<li>
						<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
						<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
							data-event-class="<%= event['class'] %>" class="event-item" onclick="c_lick(<%= event.id %>);">
							<%= event.title %></a>
					</li>
		<% j = 0; } }) %>
	<!-- </ul>		 -->
	<!-- <ul class="unstyled list-unstyled"> -->
		
	</ul>
</div>
