/**
* Recipients drop down
*        
*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:center }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }
/**

* DataTables plugin CSS - START

*/

div.dataTables_length label {
    float: left;
    text-align: left;
}



div.dataTables_length select {
    width: 75px;
}



div.dataTables_filter label {
    float: right;
}



div.dataTables_info {
    padding-top: 8px;
}



div.dataTables_paginate {
    float: right;
    margin: 0;

}



table.table {
    clear: both;
    margin-bottom: 6px !important;
}



table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}



table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }



table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }



table.dataTable th:active {
    outline: none;
}

/**

* DataTables plugin CSS  - END

*/
input[type="checkbox"]{
    margin-right: 5px !important;
    margin-bottom: 4px !important;
}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none } 
/**
* Table links hover
*/
table a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
}
table a{
  color: #000000;    
}
/**
* Main menu margin
*/
#div_main_menu{
    margin-bottom: 0px;     
}
#div_user_menu_container{
     overflow: auto;
}
/**
* first div
*/
.first{
    margin-top: 20px !important;
}
.center{
    text-align: center !important;
}
.right{
    text-align:right !important;
}
.hidden{
    display: none !important;
}
.short{
    height:10px !important;
}
.horizontal_center{
    margin: auto;
    width:70%;
}
/**
* User menu 
*/
#div_user_menu{
    float: right;
    margin-left: 900px;
}
/**
* Footer
*/
/** This is for the bottom of footer info div: added by OG **/
*{
    margin: 0;
}
html, body {
    height: 100%;
}
.container, .container-fluid {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}
#footer, .push{
    
    height: 120px;
    clear:both;
    margin-top: 30px;        
}
#bottomfooter1 {
    font-size:24px;
    position:relative;
    bottom:0;
    width:100%;
    height:90px;
    background:#3A72AD ; 
}

#bottomfooter2 {
    position:relative;
    bottom:0;
    width:100%;
    height:30px;
    background:#1c381d; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-top:4px;
    color:#FFFFFF;
    text-align:center;
}

#bottomtext4footer {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding:10px 0 0 50px;
    width:200px;
    float:left;
}

#bottomtext4footer a{
    color:#FFFFFF;
}


#bottomtext4footer span {
    font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#FFCC00;
        font-weight:bold;
}

#bottomtext4footer2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding:10px 0 0 30px;
    width:100px;
    float:left;
}
#bottomtext4footer2 a{
    color:#FFFFFF;
}
#bottomtext4footer2 span {
    font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#FFCC00;
        font-weight:bold;
}
/**
* Header
*/
#div_header_navbar_top{
    background: none;
    border-bottom: none !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.067) !important;
    border: 0px;
}
#div_header_navbar_top .navbar-inner{

}
/**
*Dashboard 
*/
.div_dash{
    margin-right: 50px;
}
/**
* VISITORS
*/
#div_new_visitor .input-xlarge{
    width: 375px !important;
}
#div_new_visitor .control-label{
    
}
/**
* New visitor form positioning
*/
#datetime{
    text-align: center;
}
#first_name{
    margin-right: 12px;
}
#last_name{
    margin-left: 10px;
}
#birth{
    margin-right: 22px; 
}
.inline_label{
    display: inline;
}
.child_label{
    margin-left: 19px;
    margin-right: 4px;
}
.child_member{
    margin-left: 77px;
}
#label_primary_lang{
    margin-left: 98px;
}
.label_assign{
    margin-left: 5px;
}
.assignment_date{
    margin-left: 16px;
    width: 84px;
}
.label_referer{
    margin-left: 5px;
}
#member_label{
    margin-left:15px;
}
.input-name{
    margin-left: 10px;
    width: 152px;
}
#state{
    width: 105px;
}
select.input-mini{
    width: 80px !important;
}
#select_referer{
    width: 78px;
}
select.birth{
    width: 100px !important;
}
label.birth{
    margin-left: 5px;
}
label.spouse{
    margin-left: 2px;
}
input.spouse{
    width: 232px;
}
/**
* Letters in Visitors tab table
*/
#div_letters span{
      
    margin-right: 25px !important;
    font-weight: bold; 
    color: #000000;
}
textarea{
    resize: none !important;
}
/**
* EMAIL
*/
#div_email input.input-xxlarge{
    width: 507px !important;
}
#div_email textarea.input-xxlarge{
    width: 590px !important;
}
#div_email input.error{
    border-color: #B94A48 !important;
    color: #B94A48 !important;    
}
.jHtmlArea{
    width: 100% !important;
}
.jHtmlArea.ToolBar{
    width: 100% !important;
}
iframe {
  border: #ABA7A7 1px solid;
  width: 519px;
  height: 300px;

}
#div_email .form-horizontal .controls {
    margin-left: 100px !important;
}
#div_email .form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 80px !important;
} 
/**
* Admin
*/
.tr_orders_drill{
    
}
/**
* Paper
*/
textarea.text_centered{
     width: 806px;
}
.amount{
    color: red;
    font-size:20px;
    font-weight:bold;
}
.div_image  {
    position: fixed !important;
}
#div_gallery_frame{
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom:10px;
}
.address_span{
    display: table;
}
#div_recipients{
    display: block;
}
#div_recipients{
    margin-top: 20px;
    margin-bottom: 20px;
}
.td.amount{
   font-size: 14px;
}
.amount_label{
    color: red;
    font-size:20px;
    font-weight:bold;    
}
#div_payment_inner td:nth-child(6){
    font-weight:bold; 
}
/**
* Payment modal
*/
.cc_image{
    margin-left: 20px;
}   
#charge_amount{
    font-size: 33px;
    font-weight: bold;
    color: red;
    height: 40px;
    text-align: center;
}
#btn_charge{
    width:198px;
}
.input_charge{
    width:117px !important;
}
[name="span_help"]{
    color: blue;
}
#form_cc_controls{
   margin-left: 70px !important;
}
#charge_modal{
    max-height: 650px;
}
select.input_charge{
    width: 126px !important;
}
/**
* Reports
*/
#div_reports{
    margin-bottom:30px;
}
/**
* Dashboard
*/
#div_visitors_total #start_date, #div_visitors_total #end_date{
    width:85px;
}
#div_visitors_total{
     
}
#div_form_total_visits{
    margin-bottom:5px;
}
#div_visitors_total  [name="set_date"]{
    margin-left:8px;
}
#div_second{
    margin-top: 20px;
}
#a_new_visitor a{
    font-weight: bold;
    font-size: 16px;
    color: #2E2CEE;
}
.a_visitors{
    font-weight: bold;
    font-size: 14px;    
}

.error{
    border-color: #B94A48 !important;
    color: #B94A48;
}

.a_dash{
    margin-left: 25px; 

}
.div_dash img{
    max-width:  100%;
    max-height: 100%;
}

#frame1{
    width: 350px;
    height: 350px;
    margin-top: 59px;   
}

#div_logo {
    background-image: url('../img/visitorplus.logo.png');
    background-position: 0% 100%;
    width: 157px;
    height: 50px;
    margin-left:20px;
    margin-top:5px;    
    float: left;
}

.note_textarea{
    width: 100%;
}

#button_control, #visitor_notes{
    margin-left: 50px;
}

#div_top{
    margin: 40px 0px;
}

.navbar .nav > .active > a:hover
{
  color: #FFFFFF;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #e5e5e5;
}

